<header class="header">
    <a href="/">
        <img src="./img/logo-no-background.svg" alt="SpendWise logo" width="100" height="50">
    </a>
    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" class="">Home</a>
            </li>
            <li>
                <a href="/transactions" class="">Transactions</a>
            </li>
            <li>
                <a href="/converter" class="">Converter</a>
            </li>
        </ul>
    </nav>
    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit" class="logout__button">Logout</button>
    </form>
</header>