<div class="author">
    <h1 class="author__heading">test</h1>
    <p class="author__body">hehe</p>
</div>

<section class="transactions">
    <h2 class="transactions__heading">
        Latest Transactions
    </h2>
    <ul class="transactions-ul">
        <li>
            <a href="#">
                <span>
                    Transaction Title
                </span>
                <span class="transactions-list__date">
                    Date
                </span>
            </a>
        </li>
    </ul>
    <a href="#" class="pagination">
        &lt; View Older Transactions
    </a>
</section>