@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

:root {
  --black: #222831;
  --gray: #7E7E7E;
  --gray-light: #E4E4E4;
  --red: #b30000;
  --white: #EEEEEE;
  --light-blue: #76ABAE;
  --lighter-black: #31363F;
  --font-size-base: 1rem;
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --border-radius: 10px;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--black);
  font-size: var(--font-size-base);
  background-color: #FAF5EE;
  background-image: url("/img/design-space-paper-textured-background.jpg");
  background-size: 100%;
  margin: 0;
}

a { color: var(--black); }
h1 { font-size: var(--font-size-xl); }
h2 { font-size: var(--font-size-lg); }
h3 { font-size: var(--font-size-md); }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
select,
textarea {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.7rem 0.75rem;
  margin-bottom: 1rem;
}

.btn {
  background-color: var(--black);
  border: none;
  color: white; 
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px; 
  cursor: pointer;
}

.btn-delete {
  padding: 10px 16px;
  background-color: var(--red);
}

/* Layout */
.container {
  max-width: 982px;
  margin: 0 auto;
  padding: 0 10px;
}

.main {
  padding: 20px 0;
}

/* Main Header */
.header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "logo button"
  "menu menu";
  padding-top: 10px;
}

@media only screen and (min-width: 768px) {
  .header {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: 
    "logo menu button";
  }
}

.header__nav {
  justify-content: center;
  display: flex;
  grid-area: menu;
}

.header__nav, .header__button {
  width: 100%;
}

.header__button {
  display: flex;
  justify-content: end;
  grid-area: button;
}

.header__button button {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  border: 0;
  padding: 6px 12px;
  background: none;
  border-radius: 10px;
  border: 2px solid transparent;
  font-size: 1rem;
  font-weight: 600;
  color: var(--black);
}

.header__button button:hover {
  border: 2px solid var(--black);
}

/* Header -> Navigation */
.header__nav ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  font-weight: 600;
  padding: 0;
}

.header__nav ul a {
  padding: 10px;
  text-decoration: none;
}

.header__nav ul a.active {
  color: #7E7E7E;
}

.header__nav ul a:hover {
  text-decoration: underline;
}

/* Body - HomePage */
.body {
  padding: 10px 0;
  text-align: center;
}

.heading {
  margin-top: 10px;
  margin-bottom: 5px;
}

.body {
  font-size: var(--font-size-md);
  margin: 5px 0 40px 0;
}


/* Home Article List */
.articles__heading {
  margin-top: 4rem;
  font-weight: 400;
}

.article-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  display: flex;
  flex-direction: column;
}

.article-list__date {
  font-size: 1rem;
  color: var(--gray);
  width: 100px;
  display: inline-block;
  width: 260px;
}

.article-ul li a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  margin: 18px 0;
}

@media only screen and (min-width: 768px) {
  .article-ul li a {
    flex-direction: row;
    align-items: center;
  }

  .article-list__date {
    text-align: right;
  }
}

.article-ul li {
  font-size: 24px;
  cursor: pointer;
  transition: filter 0.1s;
}

.article-ul li:not(:last-child) {
  border-bottom: 1px solid var(--gray-light);
}

.article-ul li:hover {
  filter: none;
}

.article-ul:hover li {
  filter: blur(3px);
}

.article-ul:hover li:hover {
  filter: none;
}


.article {
  white-space: pre-wrap;
}


/* Footer */
.footer {
  margin: 4rem;
  text-align: center;
}


/* Dashboard Admin */
.admin-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-posts {
  padding: 0;
  margin: 0;
}

.admin-post-controls form {
  display: inline-block;
}

.admin-post-controls .btn  {
  display: inline-block;
  background-color: var(--black);
  color: var(--gray-light);
  border: 0;
  text-decoration: none;
  font-size: .8rem;
  padding: 4px 8px;
  line-height: 2;
}

.admin-posts li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

/* SeachBar */
.searchBar {
  visibility: hidden;
  transform: translateY(-100px);
  background-color: var(--black);
  padding: 4px 0;
  position: absolute;
  left: 0;
  right: 0;
}


.searchBar.open {
  transform: translateY(0);
  transition: transform 0.1s;
}

.searchBar input {
  margin: 0;
  border: 0;
}

#searchClose {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--gray-light);
  padding: 15px;
}


.pagination {
  font-size: 1.3rem;
  text-decoration: none;
  margin-top: 40px;
  display: inline-block;
}


/* Transaction Page */
.transactions-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transactions-header h1 {
  font-size: calc(var(--font-size-xl) * 0.7)
}

.transactions-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.transactions-nav li {
  display: inline;
  margin-right: 10px;
}

.transactions-nav li button {
  font-family: 'Poppins', sans-serif;
  color: var(--black);
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.transactions-nav .select-date-range button {
  color: white;
  border-radius: 20px;
  background-color: var(--lighter-black);
  padding: 10px 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.transactions-stats {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  background-color: var(--white);
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.total-transactions,
.total-income,
.total-expense {
  flex: 1;
  text-align: center;
}

.total-transactions p,
.total-income p,
.total-expense p {
  margin: 0;
  font-size: calc(var(--font-size-md) * 0.7);
}

.total-transactions h3,
.total-income h3,
.total-expense h3 {
  margin: 0;
  font-size: calc(var(--font-size-lg) * 0.7);
}

.transactions-list {
  margin-top: 20px;
  background-color: var(--white);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.transactions-list-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.transactions-list-header-left {
  display: flex;
  align-items: center;
}

.transactions-select-category {
  margin-right: 20px;
}

.transactions-select-category,
.search-btn,
.download-btn {
  font-family: 'Poppins', sans-serif;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: var(--lighter-black);
  color: white;
}

.transactions-select-category button {
  background-color: #ffffff69;
}

.download-btn {
  font-weight: bold;
}

.transactions-table {
  width: 100%;
  border-collapse: collapse;
}

.transactions-table th,
.transactions-table td {
  padding: 10px;
  text-align: left;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.transactions-table th:first-child,
.transactions-table td:first-child {
  border-left: none;
}

.transactions-table th:last-child,
.transactions-table td:last-child {
  border-right: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

form div {
  margin-bottom: 15px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input[type="text"], form input[type="email"], form input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

form .register__button {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form .register__button:hover {
  background-color: #0056b3;
}

form .login__button {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form .login__button:hover {
  background-color: #0056b3;
}

form p {
  text-align: left;
}

form a {
  color: #007BFF;
  text-decoration: none;
}